#wrapper

  %h2{ :class => 'page-header' } Search Results
  %hr
  .api-search-message.panel
    %p Can't find what you're looking for? Help out your fellow users by adding it via the Google API!
    %input.search-input{id: "place", name: "place", placeholder: "Search and add new cafes", type: "text"}

  #listed-elements
    - @results.each do |establishment|
      %a{:href => "#{establishment_path(establishment)}"}
        .establishment-card
          = image_tag 'http://lorempixel.com/400/300/food'
          %h4= establishment.name
          %p= establishment.address
          - if establishment.url
            %p= link_to establishment.url, establishment.url

  #api-search-results