-# #myModal.reveal-modal{"data-reveal" => ""}
-#   %form
-# %a.close-reveal-modal ×

#wrapper
  %h2.page-header= "Review: #{@establishment.name}"
  %hr/
  #form-area
    = form_for [@establishment, @review] do |f|
      = f.hidden_field :establishment_id, value: @establishment.id
      = f.hidden_field :user_id, value: current_user.id
      .field.rating
        = f.label 'Power'
        %i.fa.fa-plug.fa-2x
        %i.fa.fa-plug.fa-2x
        %i.fa.fa-plug.fa-2x
        %i.fa.fa-plug.fa-2x
        %i.fa.fa-plug.fa-2x
      .field.rating
        = f.label 'Wifi'
        %i.fa.fa-wifi.fa-2x
        %i.fa.fa-wifi.fa-2x
        %i.fa.fa-wifi.fa-2x
        %i.fa.fa-wifi.fa-2x
        %i.fa.fa-wifi.fa-2x
      .field.rating
        = f.label 'Coffee'
        %i.fa.fa-coffee.fa-2x
        %i.fa.fa-coffee.fa-2x
        %i.fa.fa-coffee.fa-2x
        %i.fa.fa-coffee.fa-2x
        %i.fa.fa-coffee.fa-2x
      .field.rating
        = f.label 'Food'
        %i.fa.fa-cutlery.fa-2x
        %i.fa.fa-cutlery.fa-2x
        %i.fa.fa-cutlery.fa-2x
        %i.fa.fa-cutlery.fa-2x
        %i.fa.fa-cutlery.fa-2x
      .field.rating
        = f.label 'Service'
        %i.fa.fa-smile-o.fa-2x
        %i.fa.fa-smile-o.fa-2x
        %i.fa.fa-smile-o.fa-2x
        %i.fa.fa-smile-o.fa-2x
        %i.fa.fa-smile-o.fa-2x
      .field.rating
        = f.label 'Noise Level'
        %i.fa.fa-volume-up.fa-2x
        %i.fa.fa-volume-up.fa-2x
        %i.fa.fa-volume-up.fa-2x
        %i.fa.fa-volume-up.fa-2x
        %i.fa.fa-volume-up.fa-2x
      .field.review-content
        = f.label 'Content'
        = f.text_area :content
      .actions
        = f.submit 'Submit Review', :class => 'button radius small', :id => 'devise-button'
      


