#form-area
  %h2= @establishment.name
  %h5= @establishment.address
  %h4
    Add More Cafe Details
  = form_for @establishment do |f|
    = image_tag(@establishment.image)
    .field
      = f.label 'Upload Your Own Photo'
      = f.file_field :image
    .field
      = f.label :description
      = f.text_field :description
    .field
      = f.label :url
      = f.text_field :url
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :phone_number
      = f.text_field :phone_number
    .actions
      = f.submit "Update", method: establishment_path(@establishment), :class => 'button radius small', :id => 'devise-button'
