#wrapper
  %h2{ :class => 'page-header' } All establishments
  %hr
  #all-establishments
    - @establishments.each do |establishment|
      %a{:href => "#{establishment_path(establishment)}"}
        %article.establishment-card
          = image_tag 'http://lorempixel.com/400/300/food'
          %h3= establishment.name
          - if establishment.description
            %p= establishment.description
          %p= establishment.address