%h2 All establishments

#all-establishments
  - @establishments.each do |establishment|
    .establishment-card
      %h3= link_to establishment.name, establishment_path(establishment)
      %p= "Description: #{establishment.description}"
      %p= "Address: #{establishment.address}"
      %p= "Overall Rating: #{@overall_rating}"
