#wrapper

  %h2.page-header All establishments
  %hr
  #listed-elements
    - @establishments.each do |establishment|
      %a{:href => "#{establishment_path(establishment)}"}
        .establishment-card
          = image_tag establishment.image
          %h4= establishment.name
          %p= establishment.address
          %p{class: "index-rating", id: "#{establishment.id}", data: "fa fa-star fa-1x", value: "#{establishment.average_ratings(:overall)}"}


          - if establishment.url
            %p= link_to establishment.url, establishment.url