%h1= @establishment.name
%h3= @establishment.description
%h3= @establishment.address
%h3= @establishment.phone_number
%h3= @establishment.email

%h2= link_to(@establishment.user.first_name, user_path(@establishment.user.id))



  