%h1= @establishment.name
%h3= @establishment.description
%h3= @establishment.address
%h3= @establishment.phone_number
%h3= @establishment.email

%h2= link_to(@establishment.user.first_name, user_path(@establishment.user.id))
%h2 Reviews
%ul.reviews
  - @establishment.reviews.each do |review|
    %li= review.user.first_name
    %p= review.updated_at
    %p= review.content
    %p Overall Rating
 





  