!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ProductiveCoffee
    %script{ type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?libraries=places' }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

    %header.sticky
      %nav.top-bar{ 'data-topbar' => '', role: 'navigation' }
        %ul.title-area
          %li.name
            %h1= link_to 'Productive Coffee', root_path
        
        %section.top-bar-section
          %ul.left
            .has-form
              = form_tag('/search', method: :get) do
                = text_field_tag :q, nil, placeholder: 'Search establishments'

          %ul.right
            %li.has-dropdown
              - if user_signed_in?
                = link_to "Logged in as #{current_user.first_name}"
                %ul.dropdown
                  %li= link_to 'Logout', destroy_user_session_path, :method => :delete
                  %li.active= link_to 'My Profile', user_path(current_user)
              - else
                = link_to "Login/Register"
                %ul.dropdown
                  %li= link_to('Login', new_user_session_path)
                  %li.active= link_to('Register', new_user_registration_path)

    = yield