!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ProductiveCoffee
    %script{ type: 'text/javascript', src: 'https://maps.googleapis.com/maps/api/js?libraries=places' }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav
      %h2.logo= link_to 'Productive Coffee', root_path
      = form_tag('/search', method: :get) do
        = text_field_tag :q, nil, placeholder: 'Search establishments'
    = yield